@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  html {
  	box-sizing: border-box;
  }

  *, *::before, *::after {
  	box-sizing: inherit;
  }
}

body {
  margin: 0;
}

img:nth-child(1) {
  width: 100%;
  display: block;
}

img:nth-child(2) {
  width: 100%
}

img:nth-child(3) {
  width: 100%;
}

img:nth-child(4) {
  width: 100%;
}

img:nth-child(5) {
  width: 100%;
}

img:nth-child(1), img:nth-child(2), img:nth-child(3), img:nth-child(4), img:nth-child(5) {
  float: left;
  width: 100%;
}


img:nth-child(2), img:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:nth-child(2), img:nth-child(5) {
    display: block;
  }

  img:nth-child(2), img:nth-child(3) {
    float: left;
    width: 50%;
  }

  img:nth-child(4), img:nth-child(5) {
    float: left;
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  img:nth-child(2), img:nth-child(3), img:nth-child(4) {
    width: 33.33%;
  }

  img:nth-child(1) {
    display: block;
    width: 100%;
  }

  img:nth-child(5) {
    display: none;
  }
}

@media only screen and (min-width: 60em) {

  img:nth-child(1) {
    float: left;
    width: 66.66%;
   }

   img:nth-child(5) {
     display: block;
   }

  img:nth-child(3), img:nth-child(4), img:nth-child(5)  {
     width: 33.33%;
     float: left;
   }
}
